[Unit]
Description=Gunicorn FastPing Flask App
After=network.target

[Service]
User=wofl
Group=www-data
WorkingDirectory=/home/wofl/fastping.it.com
Environment="PATH=/home/wofl/fastping.it.com/venv/bin"
ExecStart=/home/wofl/fastping.it.com/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8080 server:app

# Good process hygiene
Restart=always
RestartSec=2
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
